
theme = "cintura"

dark = {
  background: #040404,
  dark: #3F3F3F,
  medium: #6E6E6E,
  textbg: #D5D5D5,
  accent: #E46A6B,
  text: #040404
}

light = {
  background: #9099A2,
  dark: #6D7993,
  medium: #96858F,
  textbg: #D5D5D5,
  accent: #E46A6B,
  text: #333
}

ralphl = {
  background: #2F343B,
  dark: #703030,
  medium: #7E827A,
  textbg: #E3CDA4,
  accent: #C77966,
  text: #2F343B
}

cintura = {
  background: #262526,
  dark: #6E645F,
  medium: #A8907E,
  textbg: #E3CDA4,
  accent: #FF6E6B,
  text: #262526
}

themes = {
  dark: {
  background: #040404,
  dark: #3F3F3F,
  medium: #6E6E6E,
  textbg: #D5D5D5,
  accent: #E46A6B,
  text: #040404
},
light: {
  background: #9099A2,
  dark: #6D7993,
  medium: #96858F,
  textbg: #D5D5D5,
  accent: #E46A6B,
  text: #333
},
ralphl: {
  background: #2F343B,
  dark: #703030,
  medium: #7E827A,
  textbg: #E3CDA4,
  accent: #C77966,
  text: #2F343B
},
cintura: {
  background: #262526,
  dark:#6E645F,
  medium: #A8907E,
  textbg: lighten(#E3CDA4, 15),
  accent: #FF6E6B,
  text: #262526
}
}
